/*? global clearing */
:root {
  --primary: #dc3545;
  --secondary: #fff;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Start */
.img-kss {
  width: 100px;
  height: 40px;
}
/* Body End */

/* Form start */
.wrapper {
  border-top: 3px solid var(--primary);
}
.wrapper a {
  text-decoration: none;
  color: var(--primary);
}
/* Form end */
