/*? global clearing */
:root {
  --primary: #dc3545;
  --secondary: #fff;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Start */
.img-kss {
  width: 100px;
  height: 40px;
}

/* Body End */

/* Navbar Start */
.nav-link.active {
  color: var(--primary) !important;
  font-weight: 700;
}

.dropdown-item.active {
  background-color: transparent !important;
  text-decoration: none;
  color: var(--primary) !important;
  font-weight: 700;
}

/* Navbar End */

/* Form Login and Register start */
.wrapper {
  border-top: 3px solid var(--primary);
}

.wrapper a {
  text-decoration: none;
  color: var(--primary);
}

/* Form Login and Register end */

/* Start Image Halaman */
.img-base{
  width: 100%;
  height: 100vh;
  object-fit: cover; 
  object-position: 0 -10%;
}
/* End Image Halaman */